<h2>Sign Up</h2>

<% if @user.errors.any? %>
<h3>There were errors signing up:</h3>
<ul>
<% @user.errors.full_messages.each do |message| %>
	<li>
		<%= message %>
	</li>
	<% end %>
<% end %>
</ul>	
<%= form_for(@user) do |form| %>

	<p>
		<%= form.label :first_name %><br>
		<%= form.text_field :first_name %>
	</p>
	<p>
		<%= form.label :Last_name %><br>
		<%= form.text_field :last_name %>
	</p>
	<p>
		<%= form.label :email %><br>
		<%= form.text_field :email %>
	</p>
	<p>
		<%= form.label :phone_number %><br>
		<%= form.text_field :phone_number %>
	</p>
	<p>
		<%= form.label :password %><br>
		<%= form.password_field :password %>
	</p>
	<p>
		<%= form.label :password_confirmation %><br>
		<%= form.password_field :password_confirmation %>
	</p>

	<p>
		<%= form.submit "Sign up" %>
	</p>

<% end %>